@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  background-color: rgba(0, 0, 0, 0.979);
  color: white;
  text-align: center;
  text-transform: capitalize;
}

.out {
  width:25%;
  height: 75vh;
  text-align: center;
  color: white;
  background-image: url(https://cdn.dribbble.com/users/1016207/screenshots/2818276/artboard_1.png);
  box-shadow: rgb(31, 31, 31) 2px 4px 12px 2px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.out input {
    height: 1.5vw;
    width: 15vw;
  border-left: none;
  border-right: none;
  border-top: none;
  background-color: none;
  border-bottom-color: black;
  opacity: 0.9;
  text-align: center;
  font-size: 1.1rem;
}
@media(max-width:1000px){
    .out{
        width: 40%;
        height: 65vh;
    }
    .out input{
        width: 20vw;
        height: 3vw;
    }
}
@media(max-width:1800px){
    .out{
        width: 25%;
        height: 65vh;
    }
    .out input{
        width: 20vw;
        height: 3vw;
    }
}
@media(max-width:550px){
    .out{
        width: 55%;
        height: 55vh;
    }
    .out input{
        width: 28vw;
        height: 5vw;
    }
}
@media(max-width:780px){
    .out{
        width: 45%;
        height: 55vh;
    }
    
}